<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Erreur rencontrée : {{ status_text }}</title>
</head>
<body>
<h1>Oops! Erreur rencontrée</h1>
<h2>Le serveur a retourné "{{ status_code }} {{ status_text }}".</h2>

<div>
    Quelque chose est cassé. S'il vous plaît envoyez-nous un courriel à [email] et laissez-nous savoir
    ce que vous faisiez quand cette erreur s'est produite. Nous allons le réparer dès que possible
    possible. Désolé pour tout inconvénient causé.
</div>
</body>
</html>